html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

article {
    border: solid 2px #0A2299;
    margin: 2% 28%;
    box-shadow: -1px 2px 5px #091034 ;
    background-color: aliceblue;
}

article::after {
    content: "";
    display: block;
    clear: both;
}

figure {
    float: left;
    width: 6vw;
    text-align: center;
    margin: 3% 15% 11% 15%;
}

article:nth-child(even)>figure {
    float: right;
}

article p {
    padding: 2% 5%;
}

article img {
    border: solid 2px #0A2299;
    border-radius: 50%;
    width: 125%;
    height: 125%;
}
