/* color to use
#082fe1 -bright blue favicon color
#0A2299 -dark blue accent color
#091034 -black blue accent color

#798EF6 -faded perrywinkle color
#DDE3FD -very faded perrywinkle color

*/

:root {
    font-size: 100%;
}

body {
    background-color: white;
    margin: 0;
}

header {
    background-color: #091034;
}

footer {
    background-color: #798EF6;
}

header ul, header a {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

header a:link {
    color: white;
}

header a:visited {
    color: #DDE3FD;
}

header a:hover {
    color: #798EF6;
}

main { 
    margin: 6% 0 0 0;
} /*remove this after you fix the nav bar issue on the gallery page*/

footer a:link {
    color: black;
}

footer a:visited {
    color: #DDE3FD;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

h2-6, legend {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
}

p, li, th, td, label {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

/*Table specific*/
table {
    width: 100%;
    border: none;
    padding-bottom: 3%;
}

th, td {
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: none;
    border-bottom: 1px solid #a7a6a6;
}

tr:hover {
    background-color: #DDE3FD;
}

table caption {
    font-size: 300%;
    padding-top: 2%;
    padding-bottom: 2%;
}
/*FAQ specific*/
dt {
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 550;
}

.top {
    text-decoration: none;
    color: #0A2299;
}

dd {
    padding-bottom: 2%;
}
/*Form specific*/
input {
    padding: 3px 4px;
    border: 1px solid #555;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text]:focus {
    outline: none;
    border: 3px solid #555;
  }

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    padding: 3px 4px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
  }

input[type=submit], input[type=reset] {
    background-color: #0A2299;
    border: none;
    color: white;
    padding: 16px 25px;
    margin: 5px 2px 20px;
    cursor: pointer;
  }

fieldset {
    margin: 20px 5px;
    border-color: black;
}

legend {
    text-align: left;
    font-size: 130%;
}

fieldset p {
    margin: .5% 0%
}

label, input, input[type=date] {
    margin: 6px 2px;
}

label, select {
    margin: 6px 2px;
}

label, input[type=email] {
    margin: 6px 2px;
}

.check {
    line-height: 1.4rem;
}
